.loader-container {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}
.search-panel {
  margin-bottom: 10px;
  display: grid;
  grid-template-columns: 1fr auto;
  input {
    width: 100%;
    margin: 0;
  }
  mat-icon {
    color: white;
  }
}
.products {
  margin: auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 10px;
  .product-item {
    border-radius: 8px;
    border: 2px solid #eeeeee;
    padding: 16px 32px;
    display: grid;
    grid-template-rows: 1fr 200px 40px 40px 40px;
    row-gap: 5px;
    img {
      width: 100%;
      border-radius: 8px;
      height: 200px;
      object-fit: cover;
      cursor: grab;
    }
    img:active {
      cursor: grabbing;
    }
    h3 {
      color: darkcyan;
      margin: 0px 0px 10px;
      font-weight: 600;
      line-height: 20px;
    }
  }
}
.btnAdditional {
  display: block;
  width: 100%;
  max-width: 250px;
  margin: 10px auto;
  text-align: center;
}
p {
  margin: 10px 0px;
  text-align: center;
}
.inputDragDrop {
  cursor: no-drop;
}
