.loader-container {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}
.search-panel {
  border: 2px solid #eeeeee;
  border-radius: 8px;
  margin-bottom: 10px;
  display: flex;
  column-gap: 5px;
  align-items: center;
  input {
    border: none;
    outline: none;
    width: 100%;
    margin: 0;
  }
  label {
    margin: 0;
  }
  mat-icon {
    color: darkcyan;
    vertical-align: middle;
    margin-right: 10px;
  }
}
.products {
  margin: auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 10px;
  .product-item {
    max-width: 500px;
    border-radius: 8px;
    border: 2px solid #eeeeee;
    padding: 16px 32px;
    display: grid;
    grid-template-rows: 1fr 200px 40px 40px 40px;
    row-gap: 5px;
    img {
      width: 100%;
      border-radius: 8px;
      height: 200px;
      object-fit: cover;
      cursor: grab;
    }
    img:active {
      cursor: grabbing;
    }
    h3 {
      color: darkcyan;
      margin: 0px 0px 10px;
      font-weight: 600;
      line-height: 20px;
    }
  }
}
.btnAdditional {
  display: block;
  width: 100%;
  max-width: 250px;
  margin: 10px auto;
  text-align: center;
}
p {
  margin: 10px 0px;
  text-align: center;
}
.inputDragDrop {
  cursor: no-drop;
}
