button {
    width: 100%;
}
.wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
  }
form {
    width: 90%;
    max-width: 300px;
    max-height: 100vh;
    margin: auto;
    padding: 16px;
    border-radius: 10px;
    background-color: white;
    display: grid;
    row-gap: 10px;
    input {
        width: 100%;
    }
  }
  